.card {
  cursor: pointer;
  border-radius: 5px;
  background-color: #06b0c6;
  width: 180px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 1px 1px 4px 0px #afa9a9;

  &:hover {
    box-shadow: 4px 4px 4px 2px #3c902e;
    border-radius: 10px;
  }
  @media all and (max-width: 768px) {
    width: 150px;
    height: 250px;
  }
  &__img {
    width: 180px;
    height: 180px;
    object-fit: cover;

    @media all and (max-width: 768px) {
      width: 150px;
      height: 170px;
    }
  }

  &__title {
    background-color: #06b0c6;
    padding-top: 10px;
    padding-left: 10px;

    @media all and (max-width: 768px) {
      font-size: 14px;
    }
  }
  &__description {
    background-color: #06b0c6;
    padding-top: 5px;
    padding-left: 10px;

    @media all and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.species-icon {
  background-color: whitesmoke;
  width: 20px;
  border-radius: 20px;
}
