.card {
  cursor: pointer;
  background-color: #06b0c6;
  width: 180px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 4px 0px #afa9a9;
  gap: 30px;

  &__img {
    width: 180px;
    height: 200px;
    object-fit: cover;
  }
  &__title {
    background-color: #06b0c6;
  }
  &__description {
    background-color: #06b0c6;
  }
}
