.detail-container {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/comic_pattern.jpg');
  background-size: cover;
  border: 1px solid black;
  box-shadow: 3px 2px 10px 6px #66cc55;
  @media all and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 430px;
  }
}
.detail {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: whitesmoke;
  height: 350px;
  width: 650px;
  border: 2px solid black;

  @media all and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 270px;
    height: 400px;
  }
  &__img {
    object-fit: cover;
    transform: rotate(-2deg) translate(20px, -5px);
    border: 3px solid black;

    @media all and (max-width: 768px) {
      width: 180px;
      transform: rotate(0deg) translate(00px, 10px);
    }
  }

  &__title {
    transform: rotate(2deg) translate(3px, -5px);
    text-transform: uppercase;
    float: right;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
    margin-bottom: 10px;
    text-align: center;
    font-size: 23px;
    width: 280px;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    @media all and (max-width: 768px) {
      font-size: 18px;
      width: 200px;
    }
  }

  &__text {
    width: 300px;
    background-color: whitesmoke;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    gap: 5px;
    @media all and (max-width: 768px) {
      font-size: 16px;
      width: 150px;
      align-items: center;
      gap: 0px;
      transform: translate(0px, -25px);
    }
  }
  &__description {
    width: 300px;
    margin-top: 10px;
    color: black;
    background-color: whitesmoke;
    @media all and (max-width: 768px) {
      width: 150px;
    }
    &-span {
      color: black;
      background-color: whitesmoke;
      text-transform: capitalize;
      font-weight: bold;
      @media all and (max-width: 768px) {
        width: 150px;
      }
    }
  }
}
.species-icon {
  transform: translate(5px, 5px);
  background-color: whitesmoke;
  width: 25px;
}
.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  @media all and (max-width: 768px) {
    width: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__btn {
    all: unset;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    @media all and (max-width: 768px) {
      font-size: 16px;
    }
    &-text {
      &:hover {
        color: #3c902e;
      }
    }
  }
  &__img {
    object-fit: cover;
    height: 160px;
    width: 200px;
    @media all and (max-width: 768px) {
      height: 120px;
      width: 160px;
    }
  }
}
