.cards {
  margin: 50px auto 50px auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px 20px;
}
