.detail__page {
}

.detail {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #06b0c6;
  height: 400px;
  width: 700px;

  &__title {
    background-color: #06b0c6;
    font-size: 23px;
  }

  &__text {
    background-color: #06b0c6;
    font-size: 18px;
  }
  &__description {
    background-color: #06b0c6;
    &-span {
      background-color: #06b0c6;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__btn {
    all: unset;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-text {
      &:hover {
        color: #3c902e;
      }
    }
  }
  &__img {
    width: 200px;
  }
}

.species-icon {
  background-color: whitesmoke;
  width: 40px;
  border-radius: 20px;
  margin: 10px;
}
