.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reset-btn {
  all: unset;
  cursor: pointer;
  padding: 5px;
  background-color: #3c902e;
  color: black;
  text-transform: capitalize;
  border-radius: 5px;
  height: 20px;
  &:hover {
    background-color: whitesmoke;
  }
  @media all and (max-width: 768px) {
    font-size: 14px;
  }
}
