.form {
  display: flex;
  justify-content: center;
}
.input {
  all: unset;
  border: 2px solid #5fa353;
  box-shadow: 1px 0px 5px 1px #3c902e;
  width: 350px;
  height: 25px;
  border-radius: 5px;
}
