.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-field {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  @media all and (max-width: 768px) {
    width: 280px;
    text-align: center;
  }
}
.search-input {
  all: unset;
  border: 2px solid #5fa353;
  box-shadow: 1px 0px 5px 1px #3c902e;
  width: 350px;
  height: 25px;
  border-radius: 5px;
  @media all and (max-width: 768px) {
    width: 280px;
  }
}
.species {
  all: unset;
  margin: 20px 0 10px 0;
  display: flex;
  gap: 20px;
}
.check_label {
  color: #3c902e;
  font-size: 20px;
  font-weight: bold;
  @media all and (max-width: 768px) {
    font-size: 15px;
  }
}
.check_input {
  cursor: pointer;
  width: 15px;
  accent-color: black;
}
.status {
  all: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0 30px 0;
  &-label {
    font-size: 18px;
  }
  &-select {
    border: 2px solid #5fa353;
    box-shadow: 1px 0px 5px 1px #3c902e;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 16px;
  }
}

.reset-btn {
  all: unset;
  cursor: pointer;
  padding: 5px;
  background-color: #3c902e;
  color: black;
  text-transform: capitalize;
  border-radius: 5px;
  height: 20px;
  &:hover {
    background-color: whitesmoke;
  }
  @media all and (max-width: 768px) {
    font-size: 14px;
  }
}
