.species {
  all: unset;
  margin: 20px 0 10px 0;
  display: flex;
  gap: 20px;
}
.check_label {
  color: #3c902e;
  font-size: 20px;
  font-weight: bold;
  @media all and (max-width: 768px) {
    font-size: 15px;
  }
}
.check_input {
  cursor: pointer;
  width: 15px;
  accent-color: black;
}
