.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media all and (max-width: 768px) {
    width: 100%;
  }

  &-img {
    width: 300px;
    @media all and (max-width: 768px) {
      width: 180px;
    }
  }
  &-text {
    @media all and (max-width: 768px) {
      font-size: 14px;
    }
    &-span {
      margin-top: 10px;
      font-weight: bold;
      font-size: 22px;
      @media all and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
