* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

.hidden {
  display: none;
}

.main {
  background-color: black;
}
