* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: black;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

.hidden {
  display: none;
}

.header {
  background-image: url(../images/rick_morty_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-size: 450px;
}
